body {
  font-family: sans-serif;
  background-image: url(../img/bg.jpg);
  margin: 0;
}

table {
  border-collapse: collapse;
  line-height: 1.1;
  text-align: center;
}
td {
  font-size: 1em;
  padding: 5px 7px;
  border: none;
}

th {
  padding: 10px;
  border: none;
}

li {
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

a:hover {
  background-color: #fcf0e1;
}

form {
  width: 400px;
  margin: 0 auto;
}

input {
  width: 200px;
  cursor: pointer;
}

input :focus{
  background-color: #f8e7d2;
}

textarea {
  vertical-align: top;
}
textarea:focus {
  background-color: #f8e7d2
}

button {
  background-color: #e57ef3;
  padding: 5px 10px;
  text-align: center;
  border-radius: 10px;;
}

button:hover {
  cursor: pointer;
  background-color: #f0dbaf;
}

footer {
  background-color: #d5b1df; width: 90%; padding: 0 5%
}

.violet {
  border: 1px solid #c912f7;
}

.orange {
  border: 1px solid #db7a0b;
}

.blue {
  border: 1px solid #6e70e7
}