body {
  font-family: sans-serif;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  margin: 0;
}

table {
  border-collapse: collapse;
  line-height: 1.1;
  text-align:center;
}
td {
  font-size: 1em;
  padding: 5px 7px;
  border: none;
}

th {
  padding: 10px;
  border: none;
}

caption {
  font-size: 30px;
  padding-bottom: 20px;
}

li {
  padding-bottom: 5px;
}

.no-list-item {
  list-style-type: none;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

.contacts-link {
  list-style-type: none;
}
.contacts-link:hover {
  background-color: #fcf0e1;
  padding: 3px 0;
}

.genres-link:hover {
  background-color: #fcf0e1;
  padding: 5px;
}

h1, h2, h3 {
  text-align: center;
}
.main {
  padding: 1% 5% 0 5%;
}
form {
  width: 400px;
  margin: 0 auto;
}

input {
  width: 200px;
  cursor: pointer;
}

input:focus{
  background-color: #fcf0e1;
}

textarea {
  vertical-align: top;
}
textarea:focus {
  background-color: #fcf0e1
}

button {
  background-color: #e57ef3;
  padding: 5px 10px;
  text-align: center;
  border: none;
  border-radius: 10px;
  margin-left: 30%;
}

button:hover {
  cursor: pointer;
  background-color: #c88fe2;
}

footer {
  background-color: #d5b1df;
   padding: 0 5%
}

.violet {
  border: 1px solid #c912f7;
}

.orange {
  border: 1px solid #db7a0b;
}

.blue {
  border: 1px solid #6e70e7
}